@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}



body {
  padding-top:85px;
  padding-left: 50px;
  padding-right: 50px;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

/* header */
.btn-cadastro,
.btn-cadastro:hover,
.btn-cadastro:active,
.btn-cadastro:visited,
.btn-cadastro:focus {
  background: #f58421;
  border-color: #f58421;
  color: #fff;
}


/* FIM HEADER */


/* PAINEIS */
.head-panel{
  font-weight: bold;
}

.panel0{

  padding: 5px;
  position: relative;
  overflow-x: hidden;
}

.panel1 {
  margin: 5px 5px 5px 5px;
}
.panel2 {
  margin: 5px 5px 5px 5px;
}

.text-panels {
  position: relative;
   margin:5px 5px 5px 5px;
   min-height:50px;
   min-height: 100%;
   height:100%;
   width:99%;


}

.btn-panel{
  margin: 5px 5px 5px 5px;
}

/* ---------- FIM PAINEIS */

/* INFO BOX */
.info-box {
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: .25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative
}

.info-danger{
  background-color: red;
}

.info-new{
  background-color: blue;
}

.info-ok{
  background-color: green;
}

.info-users{
  background-color: #f58421;
}

.glyphicon{
  color: #fff;
}


.info-box .info-box-icon {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px

}



.info-box .info-box-content {
    -ms-flex: 1;
    flex: 1;
    padding: 5px 10px
}

.info-box .info-box-number {
    display: block;
    font-weight: 700
}

/* FIM INFO BOX */


/* TABLE CHAMADOS */

td{
  align-items:center;
}
th{
  align-items: center;
}

.badge-success {
    color: #fff;
    background-color: #28a745
}

.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107
}

.badge-danger {
    color: #fff;
    background-color: #dc3545
}

.badge-info {
    color: #fff;
    background-color: #17a2b8
}


.m-0{
  overflow-x: hidden;
}

/* TABLE CHAMADOS */

/* INDEX  */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}

.link{
	padding:15px 35px;
	background:#f58421;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color:#f58421 !important;
	background:black;
}

.link:active, .link:focus {
	background: #f58421;
	text-decoration:none;
	color:#fff !important;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.we-create{
	padding:0;
	margin:35px 0 55px;
}
.wp-pic{
	margin-bottom:20px;
}
.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 0;
}
.we-create li:first-child{
	background:none;
}

.start-button {
	padding-left: 0px;
}

.start-button li a{
color: #fff;
}
.header{
	text-align:center;
	background-color: white;
	padding:130px 0;
}
.logo{
	margin:0 auto;
}
